<!--sweet alert kullanımı için dahil edilmesi gereken js kütüphanesi CDN ile-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="tech-btm">

    <p>Teknoloji, yazılım ve diğer bloglar </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" id="submitButton" value="Abone Ol">
    </form>
    <!--controlller tarafından aldığı Viewbag değerini burada şarta vererek true ise başarılı mesajının
        değilse başarısız mesajının verilmesini sağlıyor-->
    @if (ViewBag.operationControl == true)
    {
        <script>
            $('#submitButton').click(function () {
                //swal("Site Kabul Şartları", "Sitemizde verdiğiniz mail adresi üzerinden bilgi ve haber e-postaları spam ölçüsüne varmadan gönderilmeye devam edilecektir. Eğer e-posta bülteninden çıkmak isterseniz mail ileti dizisini durdurabilirsiniz, şifre ve mail adresleriniz şifrelenmiş formatta herhangi bir kullanıcının görmeyeceği şekilde veritabanlarımızda saklanmaktadır.");
                swal({
                    title: "Mail Bültene Abone Olma - Başarılı",
                    text: "Mail bültenimize abone oldunuz. Tebrikler. Bizden gelen yeni bildirimleri bekleyin.",
                    icon: "success",
                    button: "Tamam",
                });

            });
        </script>

    }
    else
    {
        <script>
            $('#submitButton').click(function () {
                //swal("Site Kabul Şartları", "Sitemizde verdiğiniz mail adresi üzerinden bilgi ve haber e-postaları spam ölçüsüne varmadan gönderilmeye devam edilecektir. Eğer e-posta bülteninden çıkmak isterseniz mail ileti dizisini durdurabilirsiniz, şifre ve mail adresleriniz şifrelenmiş formatta herhangi bir kullanıcının görmeyeceği şekilde veritabanlarımızda saklanmaktadır.");
                swal({
                    title: "Mail Bültene Abone Olma - Başarısız",
                    text: "İşlem Başarısız! Lütfen mail adresini doğru girdiğinizi veya boş bırakmadığınızdan emin olun!!",
                    icon: "error",
                    button: "Tamam",
                });

            });
        </script>

    }


</div>


