<!--sweet alert kullanımı için dahil edilmesi gereken js kütüphanesi CDN ile-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Teknoloji, yazılım ve diğer bloglar </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input  type="submit" id="submitButton" value="Abone Ol">
    </form>
    <script>
        $('#submitButton').click(function () {
            //swal("Site Kabul Şartları", "Sitemizde verdiğiniz mail adresi üzerinden bilgi ve haber e-postaları spam ölçüsüne varmadan gönderilmeye devam edilecektir. Eğer e-posta bülteninden çıkmak isterseniz mail ileti dizisini durdurabilirsiniz, şifre ve mail adresleriniz şifrelenmiş formatta herhangi bir kullanıcının görmeyeceği şekilde veritabanlarımızda saklanmaktadır.");
            swal({
                title: "Mail Bültene Abone Olma",
                text: "Mail bültenimize abone oldunuz. Tebrikler. Bizden gelen yeni bildirimleri bekleyin.",
                icon: "success",
                button: "Tamam",
            });

        });
    </script>

</div>


