
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Listesini İndir</button>*@
<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>
@*<script>
    function DownloadExcelBlogList() {
        wind.open("/Admin/Blog/ExportStaticExcelBlogList")//Bu komut ile butona tıkladığında
        //blogların verisini exceel dosyası olarak oluşturup indirebilmesini sağlayacak. Çünkü 
        //javascriptte yer alan wind.open ile ExportStaticExcelBlogList metodunun çalışmasını sağlayacak
    }
</script>*@

