
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 Error Page</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

    <!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="~/colorlib-error-404-11/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/colorlib-error-404-11/css/style.css" />


</head>

<body>

    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! Sayfa Bulunamadı!!</h2>
            <form class="notfound-search">
                <input type="text" placeholder="aradığınız kelime...">
                <button type="button">Search</button>
            </form>
            <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <br />
            <div>
                <a href="~\Views\Blog\Index.cshtml">Ana Sayfaya Git</a>
            </div>
            <br />
            <div class="copyright-footer">
                <div class="copy-right">
                    <p>
                        © 2021 Asp.Net Core 5.0 Proje Kampı. Tüm Hakları Saklıdır | Design by Colorlib
                        
                    </p>
                </div>
            </div>

        </div>
       


    </div>
 

</body>

</html>
